.lg-total {
    width: 100%;
    height: 100%;
    
    
}

.lg-green {
    background-image: url('../../images/Vector17.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    width: 100%;
    height: 100%;
    
    

}

.cenlg {
    background-image: url('../../images/tick.svg');
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 100%;

}


.lg-text {
    position: relative;
    text-align: center;
    color: #FFA012;
    top: 330px;



}